*{
    margin: 0;
    padding: 0;
}

body{
 background: #ddd;   
}

.container {
    border: 2px solid black;
    background: rgb(245, 176, 3);
    border-radius:10px ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 1fr 100px;
    min-height: 100vh;
    grid-template-areas: 
        "header header header"
        "aside content content"
        "footer footer footer"
    
}
.header {
    background:  rgb(0, 152, 144);
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    grid-area: header;
}
@media (width < 600px) {
    .container {
        grid-template-areas: 
            "aside header header"
            "content content content"
            "footer footer footer"
    }

}
.aside{
    background:  rgb(94, 246, 239);
    border-radius: 10px;
    grid-area: aside;
    border: 1px solid rgb(255, 255, 255);
}
.content{
    background: green;
    border-radius: 5px;
    grid-area: content;
    border: 1px solid rgb(255, 255, 255);
}
.footer{
    background:  rgb(0, 128, 126);
    border-radius: 10px;
    grid-area: footer;
    border: 1px solid rgb(255, 255, 255);
}